body {
    margin: 0;
}

p {
  font-size: 16px;
}

header {
  background-color: rgb(10, 10, 10);
  position: relative;
  color: white;
  display: flex;
}

.hamburger {
  background-color: rgb(10, 10, 10);
  position: relative;
  color: white;
  width: 64px;
}

.hamburger a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
  

a.icon {
  background: black;
  display: block;
  left: 0;
  top: 0;
}

a.textIcon {
  background: black;
  display: block;
  right: 0;
  top: 0;
  }

.resizeMe a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.headText{
    width: 90%;
}

#myLinks {
  display: none;
  height: 40rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(10, 10, 10);
  color: white;
  transition: 0.5s;
}

#myLinks >*{
  display: flex;
  justify-content: center;
}

.myText{
  display: block;
}